h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
  background-image:url(imgs/paymentbg.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
  margin:100px;
}

#image {
  width: 100%;
  height: 100%;
}

input {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(11, 8, 219);
    border-radius: 4px;
  }

  input:focus {
    background-color: rgb(134, 209, 235);
    border: 3px solid #555;
  }

  .submitBttn  {
    background-color: #3997c2;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .submitBttn:hover {
    background-color: #1e1c9c;
  }

  .bttn1 {
    box-shadow: 0px 4px 8px #4bdaf366;
    height :60px;
    width: 100px;
    padding: 5px 10px;
    background-color: lightblue;
    transition: transform 0.3s ease-in-out;
  }

  .bttn1:hover {
    background-color: #b4c6ce;
    cursor: pointer;
    transform: scale(1.2);
  }

  #icon{
    height: 40px;
    width:80px;
  }

  #image1{
    height: 120px;
    width: 170px;
  }

  #desc{
    font-size: 50px;
  }

  form {
    width : 1000px;
    margin : auto;
    padding : 20px;
    background: #e6e5f0;
    font-size: 14px;
    font-family: verdana;
    color: rgb(19, 9, 110);
  }

select {
  background-color: #f2f2f2;
  color: #333;
  padding: 8px;
  border: 2px solid rgb(11, 8, 219);
  border-radius: 4px;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.productData{
	background-color : white;
	padding : 3px;
} 

div.tbl{
	margin-top : 15px;
	margin-bottom : 10px;
	margin-left : 10px;
	margin-right : 10px;
} 

font{
  color: rgb(172, 71, 45);
}

.a1{
  animation:blinking 1.5s infinite;
  font-size: 20px;
}
  
@keyframes blinking{
  0%{   color: red;   }
  47%{   color: #000; }
  62%{   color: transparent; }
  97%{   color:transparent; }
  100%{  color: #000;   }
}

th, td {
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color: rgb(80, 243, 255);}